.task-container {
  background-color: rgba(45, 45, 45, 0.6);
  border-radius: 12px;
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  box-sizing: border-box;
}

.task-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  height: 30px;
}

.task-title {
  color: #fff;
  font-size: 14px;
  padding-right: 10px;
}

.task-contents {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
