.titlebar-container {
  height: 32px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background-color: #0E0E0E;
}

.titlebar-img {
  width: 15px;
  height: 15px;
}

.titlebar-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 6px 0px 0px 15px;
}

.titlebar-title {
  color: #FFF;
  margin-left: 10px;
  font-size: 12px;
}

.titlebar-button {
  height: 38px;
  width: 40px;
  background: none;
  border: none;
  -webkit-app-region: no-drag;
  text-decoration: none;
  outline: none;
  color: #FFF;
}

.titlebar-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#titlebar-close:hover {
  background-color: rgba(255, 255, 255, 0.2);
}