.icon-button {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}

/* .icon-button-active {
  background-color: #FF4949;
}

.icon-button-active:hover {
  background-color: #FF6B6B;
}

.icon-button-inactive {
  background-color: #3ACF76;
}

.icon-button-inactive:hover {
  background-color: #67E097;
} */
